{
  "extends": "@ahmdigital",
  "parser": "@javascript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "sort-keys": "error"
  }
}
