{
  "extends": "@ahmdigital",
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  },
  "rules": {
    "import/order": "off",
    "import/extensions": "off",
    "lodash/import-scope": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "**/styles.sass"
        ]
      }
    ],
    "no-return-await": "off",
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": true,
        "natural": false
      }
    ]
  }
}
